force-app/main/default/flows/FL002_ValidazioneDatiIDAggiornati.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DEC001_ControlloDatiInseriti</name>
        <label>DEC001_ControlloDatiInseriti</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UP001_InserimentoDatiAggiornati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>NotValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nuova_Data_Scadenza_Documento</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errore</targetReference>
            </connector>
            <label>NotValid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FL002_ValidazioneDatiIDAggiornati {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL002_KYC Document Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CR001_VerificaNuovoDocumento</name>
        <label>CR001_VerificaNuovoDocumento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GR001_PrendiDati.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;Verifica nuovo documento&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GR001_PrendiDati</name>
        <label>GR001_PrendiDati</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CR001_VerificaNuovoDocumento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Branch_Manager_Document_Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UP001_InserimentoDatiAggiornati</name>
        <label>UP001_InserimentoDatiAggiornati</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR001_PrendiDati</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IDDocumentNumber__c</field>
            <value>
                <elementReference>Nuovo_Numero_Documento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDExpirationDate__c</field>
            <value>
                <elementReference>Nuova_Data_Scadenza_Documento</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Errore</name>
        <label>Errore</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessaggioErrore</name>
            <fieldText>&lt;p&gt;La data inserita per la scadenza del documento {!Nuova_Data_Scadenza_Documento} non puó essere antecedente alla data odierna.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-background-color</propertyName>
            <propertyValue>
                <stringValue>#FFFFFF</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-border-color</propertyName>
            <propertyValue>
                <stringValue>#B00000</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-radius-border</propertyName>
            <propertyValue>
                <stringValue>1rem</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-border-weight</propertyName>
            <propertyValue>
                <stringValue>0.5rem</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-header-text-color</propertyName>
            <propertyValue>
                <stringValue>#B00000</stringValue>
            </propertyValue>
            <scope>Header</scope>
        </styleSettings>
    </screens>
    <screens>
        <name>SC001_InserimentoDati</name>
        <label>SC001_InserimentoDati</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC001_ControlloDatiInseriti</targetReference>
        </connector>
        <fields>
            <name>InfoText_01</name>
            <fieldText>&lt;p&gt;Inserisci i nuovi dati aggiornati&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Nuova_Data_Scadenza_Documento</name>
            <dataType>Date</dataType>
            <fieldText>Nuova Data Scadenza Documento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Nuovo_Numero_Documento</name>
            <dataType>String</dataType>
            <fieldText>Nuovo Numero Documento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SC001_InserimentoDati</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
